@use '@scss/variables' as v;
.login-section{
    padding: 0.5em;
    margin: 0.3em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid v.$grey;
    // border-radius: 0.5em;
}

.login{
    padding: 0.25em 0;
}
.login-btn{
    margin-top: 1em;
    width:100%;
}
.error{
    color: v.$error;
    font-size: v.$label;
    padding: 0px;
    margin: 0px;
}