$mobile: 425px;
$full-width: 1024px;

//colors https://coolors.co/palettes/trending
$background: white;
$error:red;
$success: #4ad66d;
$success-light: #b7efc5;
$disabled-success: #b4c7bd;
$grey: #7b8079;

//sizes
$lg:2rem;
$xlg:4rem;
$md:1.5rem;
$sm:1rem;
$label:1.3rem;