@use '@scss/variables' as v;

.home_remainingContainer{
    border-radius: 15px;
    height: 30%;
    padding: 0.5rem; 
    border: 0.5px solid lightgray;
    box-shadow: 20px 2px 20px 0px rgba(0, 0, 0, 0.3);
}