@use '@scss/variables' as v;
.login-container{
    height: 99%;
}

.header-container{
    padding: 0.5em;
    padding-bottom: 0px;
    margin-top: 1em;
}

.login-section{
    padding: 0.6rem;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login{
    padding: 0.25em 0;
}