@use '@scss/variables' as v;
.login-container{
    height: 99%;
    // position: relative;
}

.header-container{
    padding: 0.5em;
    padding-bottom: 0px;
    margin-top: 1em;
}

.login-section{
    padding: 0.5em;
    margin: 0.3em;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid v.$grey;
    // border-radius: 0.5em;
}

.login{
    padding: 0.25em 0;
}
.login-btn{
    margin-top: 1em;
    width:100%
}
