@use '@scss/variables' as v;
.login-container{
    height: 99%;
    position: relative;
}

.header-container{
    padding: 0.5em;
    padding-bottom: 0px;
    margin-top: 1em;
}

.login-section{
    padding: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login{
    padding: 0.25em 0;
}
.login-btn{
    margin-top: 1em;
    width:100%
}
.login-add-expense{
    top:0px !important;
    bottom: 300px !important;
    right:1em !important;
}