@use '@scss/variables' as v;
@use '@scss/functions' as f;
.kharcha-btn{
    font-size: v.$label;
    font-weight: bold;
    padding: 0.4em;
    border: none;
    background-color: white;
    border-radius:0.3em;
    &:hover{
        cursor: pointer;
    }
}

.primary-btn{
    background-color: v.$success;
    color:white;
}
.secondary-btn{
    color:v.$success;
    border: 2px solid v.$success;
}

.center-btn {
    position: absolute;
    top: -30px;
    right: f.subtract(50%, 25px);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}