body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  box-sizing: content-box;
}
.input {
  width: -webkit-fill-available;
  padding: 0.8rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}
.primaryBtn {
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.secondaryBtn {
  width: 100%;
  padding: 0.8rem;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.mt-1 {
  margin-top: 0.25rem;
}
.amountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0.25rem;
  width: -webkit-fill-available;
  background-color: #d3f1df;
}
.tableContainer {
  border: 1px solid black;
  align-self: center;
  padding: 0.5rem;
  overflow-y: scroll;
  max-height: 100vh;
}
.table tr:nth-child(odd) {
  background-color: #ffffff; /* Light gray for odd rows */
}

.table tr:nth-child(even) {
  background-color: #a5c5e7; /* White for even rows */
}

th {
  background-color: #007bff;
  color: #fff;
}
.tableHead > tr > th {
  padding: 0.25rem;
  border-radius: 2px;
}
.tableBody > tr > td {
  padding: 0.25rem;
}
