@use '@scss/variables' as v;

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1em;
    width: 100%;
}

.input-label {
    font-size: v.$label;
    color: v.$grey;
    font-weight: 500;

}

.input-field {
    margin-top: 0.4em;
    height: 2rem;
    border-radius: 0.3rem;
    border: 2px solid v.$grey;
    font-size: v.$label;

    &:focus {
        border: 2px solid v.$success;
        outline: none;
        caret-color: v.$success;
    }
}