.login-add-expense{
    top:87vh !important;
    bottom: 0px !important;
    left:72vw !important;
    height: 80px !important;
    width: 80px !important;
}
.expense-container{
    .label-container{
        padding: 0em;
    }
    .expense-header{
        margin-bottom: 0.4rem;
    }
    .expense-btn{
        width: 100%;
        margin-top: 1.9rem;
    }
}